@page "/products"
@inject ProductService productService

<h3>Produkte</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Category?.Name</td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetAsync();
    }

}
