@page "/categories/create"
@inherits CreatePageBase<Category, CategoryService>


<h3>Create Category</h3>

<EditForm Model="Input" @ref="_form">
    <div class="mb-2">
        <label>Name:</label>
        <InputText @bind-Value="Input.Name" class="form-control" />
    </div>
</EditForm>

<button class="btn btn-primary" @onclick="SaveAsync">Save</button>
<button class="btn btn-secondary" @onclick="CancelAsync">Cancel</button>


@code {

    protected override string GetListUrl() => "/categories";


}